# Copier ce fichier en .env pour tester en local
# Sur Azure, ces valeurs sont mises dans App Service > Configuration > Application settings

DATABASE_URL=postgresql://UTILISATEUR:MOT_DE_PASSE@HOTE_AZURE:5432/NOM_DB?sslmode=require
ADMIN_USER=admin
ADMIN_PASS=TonMotDePasseSecret123!
